*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.login_btn{
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
}